.progress-bar {
    display: inline; /* Use grid */
    height: 100px;
}

.section {
    height: 30px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
}

.label {
    font-size: 15px;
    color: #333;
}

.completed {
    background-color: #4caf50;
    color: #fff;
}
